/* resets *************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  cursor: default;
  background-color: #4a4e74;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* whole bg *************************************************/
.container {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* photo *************************************************/
.profile-pic img {
  width: 17rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* professional info bg *************************************************/
.professional-info {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.1rem;
}

/* name */
.professional-info li:nth-child(1) {
  margin-top: 1rem;
  color: #2b283a;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* job title */
.professional-info li:nth-child(2) {
  color: #f47d27;
  font-size: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* web link */
.professional-info li:nth-child(3) {
  color: #4a4e74;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* email */
.professional-info li:nth-child(4) {
  margin-top: 1rem;
}

.professional-info li:nth-child(4) a {
  border: #918e9b 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem 0.3rem 0.5rem;
  color: #1e1f26;
}

.fas.fa-envelope {
  padding: 0 1rem 0 0.5rem;
  color: #1e1f26;
}

/* linkedin */
.professional-info li:nth-child(5) {
  margin-top: 1rem;
}

.professional-info li:nth-child(5) a {
  background-color: #297fe5;
  border: #297fe5 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #ffffff;
}

.fab.fa-linkedin {
  padding: 0 0.5rem 0 0.5rem;
  color: #ffffff;
}

/* about *************************************************/
.about {
  margin: 1rem;
}

.about h2 {
  color: #2b283a;
  margin-top: 2rem;
  font-weight: 900;
  font-size: 1.1rem;
}

.about p {
  font-size: 0.8rem;
  color: #4a4e74;
}

/* interests *************************************************/
.interests h2 {
  color: #2b283a;
  margin-top: 2rem;
  font-weight: 900;
  font-size: 1.1rem;
}

.interests p {
  font-size: 0.8rem;
  color: #4a4e74;
}

.interests {
  margin: 1rem;
}

/* footer *************************************************/
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  background-color: #d5d4d8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
}

.fab.fa-twitter-square,
.fab.fa-facebook-square,
.fab.fa-instagram-square,
.fab.fa-github-square {
  color: #918e9b;
  font-size: 1.5rem;
}

.fab.fa-twitter-square {
  margin-left: 1.5rem;
}

.fab.fa-github-square {
  margin-right: 1.5rem;
}
