/* resets *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  background-color: #4a4e74;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* whole bg *************************************************/
.container {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* photo *************************************************/
.profile-pic img {
  width: 17rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* professional info *************************************************/
.professional-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
